<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1"/>

    <load href="__PUBLIC__/css/style.css"/>
    <load href="__PUBLIC__/css/style-responsive.css"/>

    <load href="__PUBLIC__/css/user_index.css"/>
    <title>Chinstagram - Message</title>
</head>

<body>
<section>
    <!--两个导航栏-->
    <nav class="left-side sticky-left-side">
        <div style="padding-top: 10px" class="logo">
            <a href="{:U('Home/Index/index')}"><img style="width: 200px;" src="__PUBLIC__/pic/index_logo.png" alt=""></a>
        </div>
        <div class="left-side-inner">
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li>
                    <a href="{:U('Home/Index/index')}"><i class="fa fa-home"></i> <span> Home</span></a>
                </li>
                <li>
                    <a href="{:U('Home/Search/index')}"><i class="fa fa-search"></i> <span> Find</span></a>
                </li>
                <li>
                    <a href="{:U('Home/Camera/index')}"><i class="fa fa-camera"></i> <span> Camera</span></a>
                </li>
                <li class="active">
                    <a href="{:U('Home/Message/index')}"><i class="fa fa-envelope"></i> <span> Message</span></a>
                </li>
                <li>
                    <a href="{:U('Home/User/index')}"><i class="fa fa-user"></i> <span> User</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-default navbar-fixed-bottom  bottom-tabs hidden-md hidden-lg hidden-sm">
        <header class="panel-heading custom-tab turquoise-tab">
            <ul class="nav nav-tabs">
                <li>
                    <a href="{:U('Home/Index/index')}">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li>
                    <a href="{:U('Home/Search/index')}">
                        <i class="fa fa-search"></i>
                    </a>
                </li>
                <li>
                    <a href="{:U('Home/Camera/index')}">
                        <i class="fa fa-camera"></i>
                    </a>
                </li>
                <li class="active">
                    <a href="{:U('Home/Message/index')}">
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>
                <li>
                    <a href="{:U('Home/User/index')}">
                        <i class="fa fa-user"></i>
                    </a>
                </li>
            </ul>
        </header>
    </nav>
    <!--两个导航栏-->

    <div class="main-content">

        <div class="header-section navbar-fixed-top">
            <a href="javascript:void(0);" class="toggle-btn hidden-xs">
                <i class="fa fa-bars"></i>
            </a>
            <span>{$User.user_nickname}</span>

            <div class="menu-right hidden-xs">
                <ul class="notification-menu">
                    <li>
                        <a href="javascript:void(0);" class="btn btn-default dropdown-toggle"
                           data-toggle="dropdown">
                            <img src="__ROOT__/Uploads/avatar/{$User.user_image_url}" alt=""/>
                            {$User.user_nickname}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                            <li><a href="{:U('Home/User/index')}"><i class="fa fa-cog"></i> profile</a></li>
                            <li><a id="logout_btn" href="{:U('Home/User/logout')}"><i class="fa fa-sign-out"></i> Signout</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>

        </div>
        <div id="{$User.user_id}" class="wrapper">
            <div class="directory-info-row">

                <div class="row">

                        <volist name="ChatList" id="Chat">
                            <div class="col-md-6 col-lg-4">
                                <div class="panel" style="cursor: pointer;"   onClick='window.location.href="{:U("Message/chat")}?user_id={$Chat.user_id}"'>

                                    <div class="panel-body">

                                            <div class="media usr-info">
                                                <a class="pull-left" href='{:U("User/other")}?user_id={$Chat.user_id}'>
                                                    <img alt="" src="__ROOT__/Uploads/avatar/{$Chat.user_image_url}" class="thumb">
                                                </a>

                                                <div class="media-body">
                                                    <h4 class="media-heading">{$Chat.user_nickname}</h4>
                                                    <p>{$Chat.message_content}</p>
                                                </div>
                                            </div>
                                    </div>
                                        <div class="panel-footer custom-trq-footer">
                                            <ul class="user-states" style="margin: 0 0 15px 0; padding: 0;">
                                                <li style="width: 100%;">
                                                    <i class="fa fa-calendar"></i>  {$Chat.message_datetime}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>



                        </volist>
                </div>
            </div>
        </div>
        <footer class="hidden">
            2016 &copy; Chinstagram
        </footer>
        <a id="hint" style="display: none;" data-toggle="modal" href="#hintModal"></a>

        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="hintModal"
             class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">A Friendly Hint</h4>
                    </div>
                    <div class="modal-body">
                        <p id="error_text"></p>

                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-block btn-primary" type="button">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-show-img">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Photo Detail</h4>
                    </div>

                    <div class="modal-body row">
                        <div class="col-md-12 img-modal">
                            <img src="__ROOT__/Uploads/posts/post_default.jpg" alt=""/>
                            <!--<button data-dismiss="modal" class="btn btn-block btn-info" type="button"><i class="fa fa-heart"></i> Like</button>-->
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- modal -->
    </div>
</section>
<load href="__PUBLIC__/js/jquery.min.js"/>
<load href="__PUBLIC__/js/jquery-ui.min.js"/>
<load href="__PUBLIC__/js/bootstrap.min.js"/>
<load href="__PUBLIC__/js/jquery.nicescroll.js"/>

<load href="__PUBLIC__/js/index.js"/>


</body>

</html>