<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <load href="__PUBLIC__/css/style.css"/>
    <load href="__PUBLIC__/css/style-responsive.css"/>

    <load href="__PUBLIC__/css/home.css"/>
    <title>chInstgram - 首页</title>
</head>

<body>
<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">
        <!--logo and iconic logo start
        <div class="logo">
            <a href="index.html"><img src="__UPLOAD__/images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="index.html"><img src="__UPLOAD__/images/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->
        <div class="left-side-inner">
            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav" >
                <li class="active">
                    <a href="{:U('Home/Index/index')}"><i class="fa fa-home"></i> <span> chInstgram首页</span></a>
                </li>
                <li>
                    <a href="{:U('Home/Search/index')}"><i class="fa fa-search"></i> <span> 搜索</span></a>
                </li>
                <li>
                    <a href="{:U('Home/Camera/index')}"><i class="fa fa-camera"></i> <span> 相机</span></a>
                </li>
                <li>
                    <a href="{:U('Home/Message/index')}"><i class="fa fa-envelope"></i> <span> 消息（你有1条新消息）</span></a>
                </li>
                <li>
                    <a href="{:U('Home/User/index')}"><i class="fa fa-user"></i> <span> 用户资料</span></a>
                </li>
            </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->
    <nav class="navbar navbar-default navbar-fixed-bottom  bottom-tabs hidden-md hidden-lg hidden-sm">
        <header class="panel-heading custom-tab turquoise-tab">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="{:U('Home/Index/index')}">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li>
                    <a href="{:U('Home/Search/index')}">
                        <i class="fa fa-search"></i>
                    </a>
                </li>
                <li>
                    <a href="{:U('Home/Camera/index')}">
                        <i class="fa fa-camera"></i>
                    </a>
                </li>
                <li>
                    <a href="{:U('Home/Message/index')}">
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>
                <li>
                    <a href="{:U('Home/User/index')}">
                        <i class="fa fa-user"></i>
                    </a>
                </li>
            </ul>
        </header>
    </nav>

    <!-- main content start-->
    <div class="main-content">

        <!-- header section start-->
        <div class="header-section">
            <span>chInstgram</span>
            <!--notification menu start -->
            <div class="menu-right hidden-xs">
                <ul class="notification-menu">
                    <li>
                        <a href="http://www.sucaihuo.com/templates" class="btn btn-default dropdown-toggle"
                           data-toggle="dropdown">
                            <img src="__UPLOAD__/images/photos/user-avatar.png" alt=""/>
                            {$User.user_nickname}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                            <li><a href="javascript:void(0)"><i class="fa fa-cog"></i> 设置</a></li>
                            <li><a id="logout_btn" href="javascript:void(0)"><i class="fa fa-sign-out"></i> 登出</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!--notification menu end -->
        </div>
        <!-- header section end-->


        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row blog">

                <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <!--post panel start  -->
                    <div class="panel post-panel">
                        <div class="panel-heading">
                            <div class="dir-info">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <div class="avatar">
                                            <img src="__UPLOAD__/images/photos/user2.png" alt=""/>
                                        </div>
                                    </div>
                                    <div class="col-xs-8">
                                        <a href="javascript:void(0);"><span class="poster-name">这是发这条动态的人的名字</span></a>
                                    </div>
                                    <div class="col-xs-2 ">
                                        <span class="post-time">刚刚</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="post-img">
                                <img src="__UPLOAD__/images/blog/blog-wide-img.jpg" alt="">
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="post-widgets">
                                <ul class="nav nav-pills p-option">
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa fa-comment"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa fa-mail-forward"></i></a>
                                    </li>
                                    <li class="pull-right">
                                        <a href="javascript:void(0);"><i class="fa fa-ellipsis-h"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="post-content">
                                    1,024次赞
                                <br/>
                                <a>WILD AWAKE</a>  这里是作者对图片的描述
                            </div>
                            <div class="post-comment">
                                    全部256条评论
                                <br/><a href="javascript:void(0);">mzw</a> 评论
                                <br/><a href="javascript:void(0);">mzw</a> 评论
                                    <br/><a href="javascript:void(0);">mzw</a> 评论
                            </div>
                        </div>
                    </div>
                    <!--post panel end  -->
                    <div class="panel post-panel">
                        <div class="panel-heading">
                            <div class="dir-info">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <div class="avatar">
                                            <img src="__UPLOAD__/images/photos/user2.png" alt=""/>
                                        </div>
                                    </div>
                                    <div class="col-xs-8">
                                        <a href="javascript:void(0);"><span class="poster-name">Wild Awake</span></a>
                                    </div>
                                    <div class="col-xs-2 ">
                                        <span class="post-time">刚刚</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="post-img">
                                <img src="__UPLOAD__/images/blog/blog-wide-img.jpg" alt="">
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="post-widgets">
                                <ul class="nav nav-pills p-option">
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa fa-comment"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa fa-mail-forward"></i></a>
                                    </li>
                                    <li class="pull-right">
                                        <a href="javascript:void(0);"><i class="fa fa-ellipsis-h"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="post-content">
                                <p>
                                    1024次赞
                                </p>

                                <p>Donec ultrices faucibus rutrum. Phasellus sodales vulputate urna, vel accumsan augue
                                    egestas ac. Donec vitae leo at sem lobortis porttitor eu consequat risus. Mauris sed
                                    congue orci.
                                </p>
                            </div>
                            <div class="post-comment">
                                <p>
                                    全部256条评论
                                </p>

                                <p><a href="javascript:void(0);">mzw</a> 评论
                                    <br/><a href="javascript:void(0);">mzw</a> 评论
                                    <br/><a href="javascript:void(0);">mzw</a> 评论
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <ul class="pagination blog-pagination">
                            <li><a href="http://www.sucaihuo.com/templates">PREV</a></li>
                            <li><a href="http://www.sucaihuo.com/templates">1</a></li>
                            <li><a href="http://www.sucaihuo.com/templates">2</a></li>
                            <li><a href="http://www.sucaihuo.com/templates">3</a></li>
                            <li><a href="http://www.sucaihuo.com/templates">4</a></li>
                            <li><a href="http://www.sucaihuo.com/templates">5</a></li>
                            <li><a href="http://www.sucaihuo.com/templates">NEXT</a></li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer class="">
            2015 &copy; chInstgram
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<load href="__PUBLIC__/js/jquery.min.js"/>
<load href="__PUBLIC__/js/jquery-ui.min.js"/>
<load href="__PUBLIC__/js/bootstrap.min.js"/>
<load href="__PUBLIC__/js/jquery.nicescroll.js"/>

<load href="__PUBLIC__/js/index.js"/>
<load href="__PUBLIC__/js/index_index.js"/>

</body>

</html>