<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 "/>

    <load href="__PUBLIC__/css/style.css"/>
    <load href="__PUBLIC__/css/style-responsive.css"/>

    <load href="__PUBLIC__/css/index_index.css"/>
    <title>Chinstagram - Home</title>
</head>

<body>
<section>
    <!--两个导航栏-->
    <nav class="left-side sticky-left-side">
        <div style="padding-top: 10px" class="logo">
            <a href="{:U('Home/Index/index')}"><img style="width: 200px;" src="__PUBLIC__/pic/index_logo.png" alt=""></a>
        </div>

        <div class="left-side-inner">
            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="active">
                    <a href="{:U('Home/Index/index')}"><i class="fa fa-home"></i> <span> Home</span></a>
                </li>
                <li>
                    <a href="{:U('Home/Search/index')}"><i class="fa fa-search"></i> <span> Find</span></a>
                </li>
                <li>
                    <a href="{:U('Home/Camera/index')}"><i class="fa fa-camera"></i> <span> Camera</span></a>
                </li>
                <li>
                    <a href="{:U('Home/Message/index')}"><i class="fa fa-envelope"></i> <span> Message</span></a>
                </li>
                <li>
                    <a href="{:U('Home/User/index')}"><i class="fa fa-user"></i> <span> User</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-default navbar-fixed-bottom  bottom-tabs hidden-md hidden-lg hidden-sm">
        <header class="panel-heading custom-tab turquoise-tab">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="{:U('Home/Index/index')}">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li>
                    <a href="{:U('Home/Search/index')}">
                        <i class="fa fa-search"></i>
                    </a>
                </li>
                <li>
                    <a href="{:U('Home/Camera/index')}">
                        <i class="fa fa-camera"></i>
                    </a>
                </li>
                <li>
                    <a href="{:U('Home/Message/index')}">
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>
                <li>
                    <a href="{:U('Home/User/index')}">
                        <i class="fa fa-user"></i>
                    </a>
                </li>
            </ul>
        </header>
    </nav>
    <!--两个导航栏-->

    <main class="main-content">

        <header class="header-section navbar-fixed-top">
            <a href="javascript:void(0);" class="toggle-btn hidden-xs">
                <i class="fa fa-bars"></i>
            </a>
            <span>Chinstagram</span>

            <div class="menu-right hidden-xs">
                <ul class="notification-menu">
                    <li>
                        <a href="javascript:void(0);" class="btn btn-default dropdown-toggle"
                           data-toggle="dropdown">
                            <img src="__ROOT__/Uploads/avatar/{$User.user_image_url}" alt=""/>
                            {$User.user_nickname}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                            <li><a href="{:U('Home/User/index')}"><i class="fa fa-cog"></i> profile</a></li>
                            <li><a id="logout_btn" href="{:U('Home/User/logout')}"><i class="fa fa-sign-out"></i> Signout</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </header>

        <div class="wrapper">
            <div class="row blog">

                <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <div class="posts-div">


                    </div>
                    <if condition="$no_post eq true">
                        <a class="btn-block btn btn-primary">Go get some friends or ... post by yourself</a>
                    </if>
                    <if condition="$post_has_more eq true">
                        <a id="more-post" class="btn-more btn btn-primary hidden">more</a>
                    </if>
                </div>

            </div>
        </div>
        <footer class="hidden">
            2016 &copy; Chinstagram
        </footer>
        <a id="hint" style="display: none;" data-toggle="modal" href="#hintModal"></a>

        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="hintModal"
             class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">A Friendly Hint</h4>
                    </div>
                    <div class="modal-body">
                        <p id="error_text"></p>

                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-block btn-primary" type="button">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->

    </main>
</section>

<load href="__PUBLIC__/js/jquery.min.js"/>
<load href="__PUBLIC__/js/jquery-ui.min.js"/>
<load href="__PUBLIC__/js/bootstrap.min.js"/>
<load href="__PUBLIC__/js/jquery.nicescroll.js"/>

<load href="__PUBLIC__/js/index.js"/>
<script>
    var auto_more = false;
    var $page = 0;
    $(document).ready(function () {
        $.post('more_index_posts',
                {
                    page: 0
                },
                function (data) {
                    $data_appended = $(data).appendTo($('.posts-div')).hide();
                    $data_appended.fadeIn(1000);

                    $('#more-post').removeClass('hidden').hide().fadeIn(1000);
                    $('footer').removeClass('hidden').hide().fadeIn(1000);
                    $page++;
                });

        $('#more-post').on('click', function () {
            $('#more-post').hide();

            $.post('more_index_posts',
                    {
                        page: $page
                    },
                    function (data) {
                        $(data).appendTo($('.posts-div')).hide().fadeIn(1000);
                        auto_more = true;
                        $page++;
                    });

        });

        $contentLoadTriggered = false;
        $(window).on('scroll',
                function () {
                    if (!auto_more) return;
                    if (($(document).scrollTop() >= $(document).height() - $(window).height())
                            && $contentLoadTriggered == false) {
                        $contentLoadTriggered = true;

                        $.post('more_index_posts',
                                {
                                    page: $page
                                },
                                function (data) {
                                    $(data).appendTo($('.posts-div')).hide().fadeIn(1000);
                                    $page++;
                                    $contentLoadTriggered = false;
                                });
                    }
                }
        );


    });
</script>


</body>

</html>