<!DOCTYPE html>
<html lang="zh-cn" class="enroll_failed">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1"/>
    <load href="__PUBLIC__/css/style.css"/>
    <load href="__PUBLIC__/css/style-responsive.css"/>
    <title>Success! :)</title>
</head>
<body class="login">
<div class="container">

    <section class="error-wrapper text-center" style="margin-top: 5%;">
        <h1 style="height: 40px;"></h1>

        <h2>Great job</h2>

        <a class="back-btn" href="{:U('User/index')}">Go back</a>
    </section>

</div>


<load href="__PUBLIC__/js/jquery.min.js"/>
<load href="__PUBLIC__/js/jquery-ui.min.js"/>
<load href="__PUBLIC__/js/bootstrap.min.js"/>
<load href="__PUBLIC__/js/jquery.nicescroll.js"/>
<load href="__PUBLIC__/js/index.js"/>


<load href="__PUBLIC__/js/app_enroll.js"/>
<script>

</script>
</body>

</html>